@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
     html {
          font-family: 'Pretendard', sans-serif;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
     }

     /* 스크롤바 숨기기 유틸리티 */
     .no-scrollbar::-webkit-scrollbar {
          display: none;
     }

     .no-scrollbar {
          -ms-overflow-style: none;
          /* IE and Edge */
          scrollbar-width: none;
          /* Firefox */
     }
}

.animate-marquee {
     animation: marquee 20s linear infinite;
}

@keyframes marquee {
     0% {
          transform: translateX(100%);
     }

     100% {
          transform: translateX(-100%);
     }
}

/* 콩 떨어지는 효과 */
@keyframes floatUp {
     0% {
          transform: translateY(0);
          opacity: 1;
     }

     100% {
          transform: translateY(-40px);
          opacity: 0;
     }
}

.animate-float-up {
     animation: floatUp 1s ease-out forwards;
}